@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

.text-center {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px whitesmoke;
  width: 100%;
}

.profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #617986;
  color:whitesmoke;
  border: none;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: ease 0.5s;
}

.button:hover {
  background-color:darksalmon
}

h1 {
  font-size: 32px;
  margin: 10px 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:teal;
  line-height: 4px;
  margin-block-start: 32px;
  margin-block-end: 32px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2{
  font-size: 1.5em;  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  color: #023e8a;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
  font-weight: 300;
}

.profile-links {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
}
.profile-links a {
  padding: 0px 4px;
  font-size: 24px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
